// Gray colors
$gray-333: #333333;
$gray-666: #666666;
$gray-999: #999999;

$body-background-color: #eeeeee;
$head-background-color: #ffe600;
$button-background-color: #3483fa;
$texto-color: $gray-333;

