// Colors
$white: #ffffff;

// Gray palette  colors
$gray-333: #333333;
$gray-666: #666666;
$gray-999: #999999;

$section-background-color: $white;
$body-background-color: #eeeeee;
$head-background-color: #ffe600;
$button-background-color: #3483fa;
$texto-color: $gray-333;

// Margin space
$space-16: 16px;
$space-32: 32px;

// Font style
$font-family: sans-serif;
$product-path-size: 14px;
$font-input-size: 18px;
$product-price-font-size: 24px;
$product-description-font-size: 18px;
$product-place-font-size: 12px;

// Product Card
$product-card-width: 900px;

